<mat-card>
  <mat-card-content>
    <mat-card-title class="center">
      {{ 'home.title' | translate }}
    </mat-card-title>
    <br>
    <h4 class="center">{{ 'home.about_us_title' | translate }}</h4>
    <hr>
    <div [innerHTML]="'home.about_us' | translate"></div>
    <!-- <p>
      <a href="assets/documents/Regist.pdf" target="_blank">{{ 'login.register' | translate }}</a>
    </p> -->
    <hr>

    <br>
    <h4 class="center">{{ 'home.investigation_title' | translate }}</h4>
    <hr>

    <div class="center">
      <a href="http://iufor.uva.es" target="_blank" rel="noopener noreferrer">
      <img class="img-responsive" src="assets/images/sostenible-uva-logo.png">
      </a>
      <a href="http://www.palencia.uva.es" target="_blank" rel="noopener noreferrer">
      <img class="img-responsive" src="assets/images/ETSIIAA.png">
      </a>
      <a href="https://www.uva.es" target="_blank" rel="noopener noreferrer">
      <img class="img-responsive" src="assets/images/logoUVaBlanco_Dcha.png">
      </a>
    </div>
    <br>

    <h4 class="center">{{ 'home.development_title' | translate }}</h4>
    <hr>
    <div class="center">
      <a href="https://www.sngular.com/" target="_blank" rel="noopener noreferrer">
      <img class="img-responsive" src="assets/images/sngular-logo.png">
      </a>
    </div>

    <!--Proyectos que han financiado SIMANFOR-->

    <h4 class="center">{{ 'home.funds_title' | translate }}</h4>
    <hr>

    <!--Proyecto LifeRebollo-->
    <div class="center">
      <a href="https://liferebollo.es/" target="_blank" rel="noopener noreferrer">
      <img class="img-responsive" src="assets/images/LifeRebollo.svg">
      </a>
    </div>

    <!--Escalera de Excelencia-->
    <div class="center">
      <a href="http://iufor.uva.es" target="_blank" rel="noopener noreferrer">
      <img class="img-responsive" src="assets/images/sostenible-uva-logo.png">
      </a>
      <a href="https://www.educa.jcyl.es/universidad/es/fondos-europeos/fondo-europeo-desarrollo-regional-feder" target="_blank" rel="noopener noreferrer">
      <img class="img-responsive" src="assets/images/Nos-Impulsa-Junta-de-CyL.png">
      </a>
      <a href="https://www.europarl.europa.eu/factsheets/es/sheet/95/el-fondo-europeo-de-desarrollo-regional-feder-" target="_blank" rel="noopener noreferrer">
      <img class="img-responsive" src="assets/images/logo+europa+impulsa.jpg">
      </a>
    </div>

    <!--Proyecto Comfor Sudoe-->
    <div class="center">
      <a href="https://www.comfor-sudoe.eu/" target="_blank" rel="noopener noreferrer">
      <img class="img-responsive" src="assets/images/ComforLogoEN_ERDF.jpg">
      </a>
    </div>

    <!--Proyecto crossforest-->
    <div class="center">
      <a href="https://ec.europa.eu/inea/en/" target="_blank" rel="noopener noreferrer">
      <img class="img-responsive" src="assets/images/inea.jpeg">
      </a>
      <a href="https://crossforest.eu/" target="_blank" rel="noopener noreferrer">
      <img class="img-responsive" src="assets/images/CrossForest.jpg">
      </a>
    </div>

    <!--Proyecto reform-->

    <!--Proyecto simwood-->
    <div class="center">
      <a href="https://ec.europa.eu/growth/sectors/space/research/fp7_en" target="_blank" rel="noopener noreferrer">
      <img class="img-responsive" src="assets/images/7FP.jpeg">
      </a>
      <a href="http://simwood.efi.int/" target="_blank" rel="noopener noreferrer">
      <img class="img-responsive" src="assets/images/simwood.gif">
      </a>
    </div>

    <!--Proyecto DECIDE+GESTIONA-->
    <div class="center">
      <a href="https://ec.europa.eu/regional_policy/es/funding/erdf/" target="_blank" rel="noopener noreferrer">
      <img class="img-responsive" src="assets/images/FEDER.jpeg">
      </a>
      <a href="http://www.marm.es/" target="_blank" rel="noopener noreferrer">
      <img class="img-responsive" src="assets/images/MinMAMRM.jpeg">
      </a>
    </div>

    <!--Proyecto inia inicio SIMANFOR-->
    <div class="center">
      <a href="http://www.inia.es/IniaPortal" target="_blank" rel="noopener noreferrer">
      <img class="img-responsive" src="assets/images/logoINIAAlta.JPG">
      </a>
    </div>
<!--
    <h4 class="center">{{ 'home.old_sm4_title' | translate }}</h4>
    <hr>
    <div class="center">
      <a href="http://simanfor.palencia.uva.es/" target="_blank" rel="noopener noreferrer">
      <img class="img-responsive" src="assets/images/simanfor-old.png">
      </a>
    </div>
 -->
  </mat-card-content>
</mat-card>
