.container {
    z-index: 999999999999999999;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.background {
    background: white;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    position: absolute;
}